<%- include("./include/header") %>
    <h1>내가 차단한 유저 목록</h1>
    <div>
        <ul>
            <% blockedUsers.forEach(user => { %>
                <li><%= user.nickname %></li>
            <% }); %>
        </ul>
    </div>
    <%- include("./include/footer") %>