<%- include("./include/header") %>
<body>
  <h1 class="blocked-title">내가 차단한 유저 목록</h1>
  <div class="container">
    <ul class="user-list">
      <% blockedUsers.forEach(user => { %>
      <li><%= user.nickname %></li>
      <% }); %>
    </ul>
  </div>
</body>
<%- include("./include/footer") %>
