<%- include("./include/header") %>
    <!-- <div class="header">
    <div class="logo">Logo</div>
    <ul class="menu">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li><input type="search" placeholder="Search the community"></li>
        <li><button>Login</button></li>
        <li><button>Signin</button></li>
    </ul>
</div> -->

    <form class="login-form">
        <input type="text" id="ID" name="ID" placeholder="ID" required />
        <input type="password" id="password" name="password" placeholder="password" required />
        <button type="submit">login</button>
    </form>
    <%- include("./include/footer") %>