<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login Page</title>
</head>
<body>
    <header>
        <div class="logo">Logo</div>
        <nav class="menu">
          <button>1조</button>
          <button>2조</button>
          <button>3조</button>
          <button>4조</button>
          <button>5조</button>
      
          <div class="search-container">
              <form method="get">
                <input type="search" placeholder="검색">
              </form>
            </div>      
        </nav>
        <div class="account-container">
          <button>Login</button>
          <button>Signin</button>
        </div>
      </header>
<!-- <div class="header">
    <div class="logo">Logo</div>
    <ul class="menu">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li><input type="search" placeholder="Search the community"></li>
        <li><button>Login</button></li>
        <li><button>Signin</button></li>
    </ul>
</div> -->

<form class="login-form">
    <input type="text" placeholder="ID" required>
    <input type="password" placeholder="password" required>
    <button type="submit">login</button>
</form>

</body>
</html>
