<%- include("./include/header") %>
    <body>
        <h1>내가 댓글단 게시물 목록</h1>
        <div class="container">
            
            <div class="inner">
                
                <ul class="user-list">
                    <% comments.forEach(comment => { %>
                        <% if (!comment.isreply) { %>
                            <% let post = posts.find(post => post._id.toString() === comment.postid.toString()); %>
                            <li><%= post.title %> - <%= comment.text %></li>
                            <!-- 게시물 제목과 댓글 내용을 출력 -->
                        <% } %>
                    <% }); %>
                </ul>
            </div>
        </div>
    </body>
    <%- include("./include/footer") %>