<%- include("./include/header") %>

    <body>
        <h1>내가 댓글단 게시물 목록</h1>
        <div class="container">

            <div class="inner">

                <ul class="user-list">
                    <% comments.forEach(comment=> { %>
                        <li><%= comment.title %> - <%= comment.text %></li>
                        <% }); %>
                </ul>
            </div>
        </div>
    </body>
    <%- include("./include/footer") %>