.main-header button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.main-header button:hover {
  cursor: pointer;
}

.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-header nav {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0;
}

.header-search {
  border: 5px solid #3b488f;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
  width: 100%;
}

.header-search-container {
  position: relative;
  width: 50%;
}

.header-search-btn {
  position: absolute;
  font-size: 20px;
  right: 5px;
  top: 15px;
}

.account-container {
  right: 15px;
  position: absolute;
}

.account-container button {
  font-size: 18px;
  margin:0 5px;
}

.main-nav2 {
  background-color: #3b488f;
  padding: 8px;
}

.main-nav2 button {
  color: white;
  font-size: 23px;
  margin: 0 10px;
}

.header-logo {
  width: 20%;
  position: relative;
  min-width: 200px;
  margin: 0 10px;
}

.header-logo img {
  width: 100%;
}