.main-header button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.main-header button:hover {
  cursor: pointer;
}

.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-header nav {
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.header-search {
  border: 5px solid #3b488f;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
  width: 100%;
}

.header-search-container {
  position: relative;
  flex-grow: 1;
}

.header-search-btn {
  position: absolute;
  font-size: 20px;
  right: 5px;
  top: 15px;
}

.account-container {
  margin: 0 30px;
}

.account-container button {
  font-size: 18px;
  margin: 0 5px;
}
.main-nav2 {
  background-color: #3b488f;
  padding: 10px;
}

.main-nav2 button {
  color: white;
  font-size: 23px;
  margin: 0 10px;
}

.header-logo {
  width: 300px;
  position: relative;
  min-width: 200px;
  margin: 0 10px;
}

.header-logo img {
  width: 100%;
  padding-top: 0;
}

@media (max-width: 1000) {
  .account-container {
    display: none;
  }
}
