.post-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10%;
}

.post-category {
  border-bottom: 3px solid #3b488f;
  margin: 20px 0;
}
.post-header-box {
  margin-bottom: 30px;
}
.post-header-box span {
  font-size: 20px;
}

.post-title {
  font-size: 30px;
}

.post-time {
  opacity: 0.6;
}

.post-contents {
  font-size: 18px;
  margin-bottom: 20px;
}

.post-comments-container {
  border-top: 3px solid #3b488f;
  border-bottom: 3px solid #3b488f;
}

.post-comment-add {
  border-top: 3px solid #3b488f;
  display: flex;
}

.post-comment-input {
  flex-grow: 1;
  height: 60px;
  padding: 10px;
  margin: 10px 0;
}

.post-comment-btn {
  width: 50px;
  margin: 10px 0 10px 10px;
}

.user-block-btn {
  border: 2px solid #3b488f;
  padding: 3px;
  border-radius: 5px;
  background-color: white;
}

.post-control-box {
  margin-bottom: 20px;
}
.post-control-box button {
  border: 2px solid #3b488f;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}
