.posts_container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  margin: 20px 0;
  width: 100%;
}

.posts_box_title {
  margin: 10px 0;
}

.posts_box {
  display: flex;
  width: 90%;
}

.post_box_line {
  border-bottom: 1px solid black;
}

.posts_list {
  list-style: none;
  font-size: 20px;
  padding: 5px;
}

.posts_list:first-child {
  width: 300px;
}

.posts_list :nth-child(2) {
  width: 300px;
}

.posts_list:last-child {
  width: 500px;
}
