<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/block.css">
    <title>Document</title>
</head>
<body>
        <h1>내가 차단한 유저 목록</h1>
        <div class="container">
            <ul class="user-list">
                <% blockedUsers.forEach(user => { %>
                    <li><%= user.nickname %></li>
                <% }); %>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>
</body>
</html>